 
/* ====== Showcase Hero ====== */

section#showcase {
  height: 100vh;
  background-image: url('../img/full-bg-07-1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.showcase__content {
  background-color: var(--secondary-color-m);
  padding: calc(1rem + 2vw);
  height: calc(5rem + 20vmax);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  
}

.showcase__content--title {
  font-size: calc(2rem + 3vw);
  color: #fff;
}

.showcase__content--para {
  font-family: "Indie Flower", cursive;
  font-size: calc(1.5rem + 1vw);
  color: #fff;
}
 
.showcase__content--link:link,
.showcase__content--link:visited {
  padding: 1rem 0;
  transition: all 0.5s ease-in-out;
  width: 9rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  position: relative;
}

.showcase__content--link:link::after,
.showcase__content--link:visited::after {
  content: '';
  position: absolute;
}