$bg-color: salmon;

:root {
  font-size: 62.5%;

  /************ Custom Properties ***********/

  /* Main Color */
  --primary-color: #014d4e;

  /* Secondary Color */
  --secondary-color: #ff9408;

  /* Secondary Color Modified */
  --secondary-color-m: #ff94088e;

  /* tertiary color */
  --tertiary-color: #017374;

  /* tertiary color modified */
  --tertiary-color-m: #01727498;
}

 
/* ====== List items ====== */
li {
  list-style: none;
}

 
/* ====== Ancho Tags ====== */
a:link,
a:visited {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
 